In [1]:
import baostock as bs
import pandas as pd
import numpy as np
import dataloader as dal
import copy

In [2]:
years = [2014,2015,2016,2017,2018,2019,2020,2021,2022]
month = (['03' ,'10'])

In [9]:
# 登陆系统
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

# 打印结果集
hs300_stocks = []
# 获取沪深300成分股
for i in years:
    for j in month:
        rs = bs.query_hs300_stocks(str(i)+'-'+j+'-15')
        print('query_hs300 error_code:'+rs.error_code)
        print('query_hs300  error_msg:'+rs.error_msg)
        while (rs.error_code == '0') & rs.next():
            # 获取一条记录，将记录合并在一起
            hs300_stocks.append(rs.get_row_data())
        result = pd.DataFrame(hs300_stocks, columns=rs.fields)
# 结果集输出到csv文件
result.to_csv("D:/hs300_stocks.csv", encoding="gbk", index=False)
print(result)

# 登出系统
bs.logout()

login success!
login respond error_code:0
login respond  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
query_hs300 error_code:0
query_hs300  error_msg:success
      updateDate       code code_name
0     2014-03-10  sh.600000      浦发银行
1     2014-03-10  sh.600008      首创股份
2     2014-03-10  sh.600009      上海机场
3     2014-03-10  sh.600010      包钢股份
4     2014-03-10  sh.600011      华能国际
...          ...        ...       ...
5395  2022-08-01  sz.300896       爱美客
5396  2022-08-01  sz.300919      中伟股份
5397  2022-08-01  sz.300957       贝泰妮
5398  2022-08-01  sz.300979      华利集团
5399  2022-08-01  sz.300999       金龙鱼

[5400 rows x 3 columns]
logout success!

In [2]:
tdt = pd.to_datetime

In [3]:
slist = pd.read_csv('hs300_stocks.csv',encoding='gbk')
slist.code = slist.code.apply(lambda x : x[3:])
slist.columns = ['date','code','name']
slist

            date    code  name
0     2014-03-10  600000  浦发银行
1     2014-03-10  600008  首创股份
2     2014-03-10  600009  上海机场
3     2014-03-10  600010  包钢股份
4     2014-03-10  600011  华能国际
...          ...     ...   ...
5395  2022-08-01  300896   爱美客
5396  2022-08-01  300919  中伟股份
5397  2022-08-01  300957   贝泰妮
5398  2022-08-01  300979  华利集团
5399  2022-08-01  300999   金龙鱼

[5400 rows x 3 columns]

In [4]:
slist.date.unique()

array(['2014-03-10', '2014-10-13', '2015-03-09', '2015-10-12',
       '2016-03-14', '2016-10-10', '2017-03-13', '2017-10-09',
       '2018-03-12', '2018-10-15', '2019-03-11', '2019-10-14',
       '2020-03-09', '2020-10-12', '2021-03-15', '2021-10-04',
       '2022-01-17', '2022-08-01'], dtype=object)

In [4]:
hs300 = pd.DataFrame()
j=slist.date.unique()[3]
for i in slist.date.unique()[4:]:
    dl = dal.dataloader()
    dl.slist_used = list(slist[slist.date==i].code)
    dl.get_sdata_tdx('E:/s/tdx/',start=j,end=i)
    hs300 = hs300.append(dl.sdata.reset_index())
    print(i,'end')
    j = copy.deepcopy(i)

100%|██████████| 300/300 [00:07<00:00, 40.92it/s]
  7%|▋         | 22/300 [00:00<00:01, 211.53it/s]

No data: ['600005', '600068', '600317', '600485', '002450', '300104']
2016-03-14 end

100%|██████████| 300/300 [00:07<00:00, 41.17it/s]
  7%|▋         | 22/300 [00:00<00:01, 209.90it/s]

No data: ['600005', '600068', '600074', '600317', '600485', '002450', '300104']
2016-10-10 end

100%|██████████| 300/300 [00:07<00:00, 41.29it/s]
  7%|▋         | 22/300 [00:00<00:01, 215.68it/s]

No data: ['600068', '600074', '600485', '002450', '300104']
2017-03-13 end

100%|██████████| 300/300 [00:07<00:00, 39.68it/s]
  8%|▊         | 24/300 [00:00<00:01, 227.30it/s]

No data: ['600068', '600074', '600485', '002450', '300104']
2017-10-09 end

100%|██████████| 300/300 [00:08<00:00, 36.07it/s]
  7%|▋         | 20/300 [00:00<00:01, 192.13it/s]

No data: ['600068', '600074', '600485', '002450']
2018-03-12 end

100%|██████████| 300/300 [00:07<00:00, 38.73it/s]
  7%|▋         | 21/300 [00:00<00:01, 209.41it/s]

No data: ['600068', '002450']
2018-10-15 end

100%|██████████| 300/300 [00:07<00:00, 40.32it/s]
  7%|▋         | 22/300 [00:00<00:01, 209.51it/s]

No data: ['600068', '002450']
2019-03-11 end

100%|██████████| 300/300 [00:07<00:00, 39.56it/s]
  6%|▋         | 19/300 [00:00<00:01, 182.69it/s]

No data: ['600068']
2019-10-14 end

100%|██████████| 300/300 [00:07<00:00, 39.09it/s]
  7%|▋         | 21/300 [00:00<00:01, 201.91it/s]

No data: ['600068']
2020-03-09 end

100%|██████████| 300/300 [00:07<00:00, 38.98it/s]
  8%|▊         | 23/300 [00:00<00:01, 223.29it/s]

No data: ['600068']
2020-10-12 end

100%|██████████| 300/300 [00:07<00:00, 41.56it/s]
  7%|▋         | 22/300 [00:00<00:01, 209.11it/s]

No data: ['600068']
2021-03-15 end

100%|██████████| 300/300 [00:07<00:00, 41.21it/s]
  7%|▋         | 21/300 [00:00<00:01, 205.88it/s]

No data: []
2021-10-04 end

100%|██████████| 300/300 [00:06<00:00, 43.01it/s]
  7%|▋         | 22/300 [00:00<00:01, 209.38it/s]

No data: []
2022-01-17 end

100%|██████████| 300/300 [00:06<00:00, 42.94it/s]

No data: []
2022-08-01 end

In [5]:
hs300

,date,code,open,high,low,close,volume,amount
0,2015-10-13,600000,8.72,8.81,8.63,8.71,54698799.0,8.732909e+08
1,2015-10-14,600000,8.60,8.80,8.60,8.66,44297812.0,7.062118e+08
2,2015-10-26,600000,8.76,9.13,8.76,8.93,101041055.0,1.648965e+09
3,2015-10-27,600000,8.90,9.05,8.84,8.96,74933996.0,1.223267e+09
4,2015-10-28,600000,8.92,9.11,8.80,8.95,74226285.0,1.217461e+09
...,...,...,...,...,...,...,...,...
38377,2022-07-25,300999,47.32,47.44,46.79,47.08,5611200.0,2.646071e+08
38378,2022-07-26,300999,47.12,47.82,47.10,47.28,7147703.0,3.391151e+08
38379,2022-07-27,300999,47.12,47.25,46.33,46.66,8586181.0,4.009522e+08
38380,2022-07-28,300999,46.76,47.48,46.62,46.67,9997518.0,4.707382e+08
38381,2022-07-29,300999,46.67,46.82,45.70,45.73,10009734.0,4.623540e+08

In [10]:
hs300.to_csv('hs300.csv')